// Import page-specific CSS files here.
@import "home";
@import "show";

.cards {
  display: grid;
  grid-gap: 16px;
  padding: 8px;
  flex-grow: 0;
}

.cat-info-box {
  background-color: white;
  margin: 8px;
}

p button {
  color: white;
}

/*landscape phones and smaller*/
@media (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    justify-content: space-around;
  }
}

/*tablets and bigger*/
@media(min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*desktops and bigger*/
@media(min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
