<div class="footer">
  <p>Thank you for choosing our cats</p>
    <ul class="list-inline">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></a></i></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
</div>
