<div class="cat-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?cats);">
  <div class="cat-container">
    <h1><strong>Cats for the best people</strong></h1>
      <%= link_to "View all cats", cats_path, class: "btn btn-lg btn-info mt-3" %>
  </div>
</div>
