.links-to-go-back {
  text-align: center;
  vertical-align: middle;
  width: 150px;
  padding: 20px;
  border-radius: 4px;
  margin-top: 15px;
  background-color: blue;
   a {
     color: white;
   }
}


.yellow-button {
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  border-radius: 4px;
  margin: 15px 20px;
  background-color: #F4B935;
   a {
     color: white;
   }
}

