.links-to-go-back {
  text-align: center;
  vertical-align: middle;
  width: 150px;
  padding: 20px;
  border-radius: 4px;
  margin-top: 15px;
  background-color: blue;
   a {
     color: white;
   }
}

.yellow-button {
  text-align: center;
  width: 250px;
  vertical-align: middle;
  padding: 15px;
  border-radius: 4px;
  margin: 15px auto;
  background-color: #F4B935;
   a {
     color: white;
   }
}

#top-backlink {
  margin-top: 10px;
  margin-left: 10px;
  position: sticky;
  top: 90px;
  z-index: 100;
}

.back-button {
  background-color: white;
}