.cat-card {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.cat-card-body {
  margin: 20px 25px;
}


.card-pic {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* show page */

.cat-img-big {
  text-align: center;
  padding: 15px;
}

.new-card-for-cat {
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 60%;
}

.new-card-cat-body {
  margin: 20px 60px;
}

.button-cat-big {
  text-align: center;
  padding: 40px;
}

.appl-form {
  height: 30%;
  width: 35%;
  background-color: white;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
}

.details {
  display: flex;
  margin: 20px 0px;
  background-color: lightgrey;
  justify-content: space-around;
  border-radius: 5px;
  div {
    padding: 15px 0px;
  }
}

.detail {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-cat-booking {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  padding-right: 35px;
  justify-content: space-between;
}
