.cat-card {
  width: 350px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.cat-card-body {
  margin: 20px 25px;
}


.card-pic {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}


.cat-card-big {
  margin: 0px auto;
  width: 700px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.cat-card-body-big {
  margin: 20px 25px;
    p {
      line-height: 23px;
    }
}

.cat-img-big {
  text-align: center;
  padding: 15px;
}

.new-card-for-cat {
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.new-card-cat-body {
  margin: 25px 20px;
}

.button-cat-big {
  text-align: center;
  padding: 40px;
}
