.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-container {
  margin: 50px 0px;
   h1{
    padding: 35px 0px;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;
}

.flex-container {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
