.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-container {
  margin: 50px 0px;
   h1{
    padding: 35px 0px;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;
}

.alex-flex-container {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.flex-container {
  display: flex;
}

.index-container {
  padding-bottom: 30px;
  padding-left: 15px;
}

.second_container {
  background: white;
  position: relative;
  background-position: center;
  margin: 50px auto;
  padding-left: 35px;
}
