.booking-form {
  margin: 50px 0px;
   h1{
    padding: 35px 0px;
  }
}

.form-half {
  flex-grow: 0.4;
}

abbr {
  text-decoration: none !important;
}

.cat_description {
  height: 100%;
  display: flex;
  flex-flow: column;
}

#cat_description {
  height: 100%;
}