// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "forms";
@import "footer";
@import "banner";
@import "map";

.links-to-go-back {
  width: 150px;
  border-radius: 4px;
  margin: 50px 0px;
  text-align: center;
  background-color: blue;
   a {
     color: white;
   }
}



