<h1>See below all our cats:</h1>

  <div class="cards">

    <% @cats.each do |cat| %>
      <div class="card">
        <%= image_tag("#{cat.picture_url}") %>
        <p><%= link_to cat.name, cat_path(cat) %></p>
        <div class="cat-info-box">
              <div class="cat-basic-description"></div>
              <p>breed: <%= cat.breed %> </p>
              <p>color: <%= cat.color %></p>
        </div>
      </div>
    <% end %>

  </div>

